[include macros/startend.cfg]




[gcode_macro COND_HOME]
# Only home if needed.
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28.1
    {% endif %}

[gcode_macro m205]
gcode:

[gcode_macro M300]
# default_parameter_S: 1000
# default_parameter_P: 100
gcode:
    {% set S = params.S|default(1000)|float %}
    {% set P = params.P|default(100)|float %}
    SET_PIN PIN=BEEPER_pin VALUE=1000
    G4 P100
    SET_PIN PIN=BEEPER_pin VALUE=0

[gcode_macro M600]
# default_parameter_X: 50
# default_parameter_Y: 0
# default_parameter_Z: 10
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-150 F1000
    M300 S299 P200
    M300 S299 P200
    M300 S299 P200
    M300 S299 P200
    M300 S299 P200
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{E} F2100
  G1 Z{z_safe} F900
  G90
  G1 X{x_park} Y{y_park} F6000


[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### end of definitions #####
  G91
  G1 E{E} F2100
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME


[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  TURN_OFF_HEATERS
  G91		  #relative positioning
  # G1 E-.1 
  G10
  G1 Z10 Y50 F1000	#Z axis up 10mm, Y out 50mm
  G90		  #absolute positioning
  G28 X0 	#home X axis
  CLEAR_PAUSE
  SDCARD_RESET_FILE
  BASE_CANCEL_PRINT

[gcode_macro START_PRINT]
gcode:
  G28 X0 Y0                     ; move X/Y to min endstops
  G28 Z0                        ; move Z to min endstops
  ;G1 Z20 Y5 F500                ; move nozzle away from bed
  G92 E0                        ; zero the extruded length
  G1 X10 Y.5 Z0.3 F5000.0       ; Move to start position
  G1 X40 Y.5 Z0.3 F1500.0 E7  ; Draw the first line
  G1 X40 Y.2 Z0.3 F5000.0      ; Move to side a little
  G1 X10 Y.2 Z0.3 F1500.0 E7   ; Draw the second line
  G92 E0                        ; Reset Extruder
  G1 Z5.0 F3000                 ; Move Z Axis up little to prevent scratching of Heat Bed and let out nozzle pressure
  G1 X0 Y15 Z0.4                ; Move back to heat bed, sticking blob of filament down before travel move to free nozzle 
  G92 E0                        ; zero the extruded length again
  M117 Printing...

[gcode_macro END_PRINT]
gcode:
  M400                          ; Clear Buffer
  M104 S0                       ; turn off extruder
  M140 S0                       ; turn off bed
  G10                           ; retract
  G91                           ; relative positioning
  G1 E-0.03 Z1.00 X20.0 Y20.0   ; move nozzle to remove stringing
  # G1 E-1                        ; retract more
  M106 S0                       ; turn off fan
  G1 Z20                        ; move nozzle up 20mm
  G90                           ; absolute positioning
  G0 X0 Y175                    ; park nozzle at rear
  M84                           ; steppers off
  G4 P250                       ; dwell
  #_TIMELAPSE_NEW_FRAME
  M300                          ; Beep

[gcode_macro Heat_Hotend]
gcode:
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200


[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh $0"
timeout: 90.0
verbose: True

#[gcode_macro _TIMELAPSE_NEW_FRAME]
#gcode:
# {action_call_remote_method("timelapse_newframe")}
# ; leave this in a separate macro!

#[gcode_macro TIMELAPSE_TAKE_FRAME]
#gcode:
#  G10
#  SAVE_GCODE_STATE NAME=SNAPSHOT
#  G1 X175.0 F10000
#  G1 Y100.0 F10000
#  G4 P500 ;dwell
#  M400    ;clear buffer
#  _TIMELAPSE_NEW_FRAME
#  G4 P250 ;moar dwelling
#  M400
#  RESTORE_GCODE_STATE NAME=SNAPSHOT MOVE=1
#  G11
  

#[gcode_macro TIMELAPSE_RENDER]
#gcode:
#  {action_call_remote_method("timelapse_render")}

#[gcode_macro TOGGLE_LEDLIGHTS]
#gcode:
#  SET_PIN PIN=LEDlights VALUE={(not printer['output_pin LEDlights'].value)|int}
