# 
# Klipper configuration file for Anycubic i3 MEGA S
#
# This config file contains settings of all printer pins (steppers, sensors) for Anycubic i3 mega S with TMC2208 Drivers with stock plug orientation 
# Klipper firmware should be compiled for the atmega2560
#
# Config file includes
#  - Original or 2208(2209) rotated by cable drivers
#  - Mesh bed leveling: BLtouch (3DTouch sensor from Triangelab)
#  - Manual meshed bed leveling (commented out)
#  - 'virtual_sdcard' for fast printing without gaps
#  - Beeper through M300 gcode
#  - Pause/Resume through M600 for filament change
#  - START_PRINT/END_PRINT macros should be start and end g-code in slicer
#  - Pressure Advance and Input Shaper configured
#
# 3DTouch code is commented out. Z limit switches are used to home Z axis.
#
# Video covering installation here: https://youtu.be/cAxEIdThDiQ
#
# The latest version of the config reference is also available online at:
# https://www.klipper3d.org/Config_Reference.html

[include steppers.cfg]
[include macros.cfg]
[include temps.cfg]
[include klicky/klicky.cfg]
[include acceleromiter.cfg]
[include KAMP_Settings.cfg]

[printer]
kinematics = cartesian
max_velocity = 400
max_accel = 4000   #4000
minimum_cruise_ratio = 0.5
# max_accel_to_decel = 3000  #1500
max_z_velocity = 35  #7
max_z_accel = 2500  #190
square_corner_velocity = 5

[input_shaper]
shaper_freq_x = 59.2
shaper_type_x = mzv 
shaper_freq_y = 40.4
shaper_type_y = mzv

# enable moving before homing
## put in terminal:
## SET_KINEMATIC_POSITION X=100 Y=100 Z=100
## then move as usual
[force_move]
enable_force_move = False


[virtual_sdcard]
path = ~/gcode_files

[display_status]

# change filament
[pause_resume]

[firmware_retraction]
retract_length = 0.5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed = 40
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length = 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed = 40
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

# Orca options

# Enable object exclusion
[exclude_object]

[respond]

# Enable arcs support
[gcode_arcs]
resolution = 0.1

[mcu]
serial = /dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0



## [output_pin LEDlights]
## pin: rpi:gpio17
## value: 1
## shutdown_value: 1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# pid_kp = 73.183
#*# pid_ki = 3.253
#*# pid_kd = 411.656
#*# control = pid
#*#
#*# [input_shaper]
#*#
#*# [extruder]
#*# pid_kp = 22.313
#*# pid_ki = 2.125
#*# pid_kd = 58.571
#*# control = pid
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.005032, -0.015032, -0.030032, -0.035032, -0.047532, -0.050032
#*# 	  0.009968, 0.002468, -0.002532, -0.002532, -0.002532, -0.010032
#*# 	  0.012468, 0.007468, 0.009968, 0.009968, 0.004968, 0.007468
#*# 	  0.007468, 0.002468, -0.000032, -0.000032, -0.000032, -0.002532
#*# 	  -0.000032, -0.010032, -0.010032, -0.012532, -0.010032, -0.010032
#*# 	  -0.020032, -0.040032, -0.042532, -0.045032, -0.042532, -0.037532
#*# 	  -0.060032, -0.075032, -0.080032, -0.085032, -0.080032, -0.075032
#*# tension = 0.2
#*# min_x = 45.76
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 6
#*# max_y = 189.96
#*# mesh_x_pps = 2
#*# max_x = 164.21
#*#
#*# [stepper_z]
#*# position_endstop = 0.232
#*#
#*# [probe]
#*# z_offset = 0.600
#*#
#*# [bed_mesh last]
#*# version = 1
#*# points =
#*# 	  -0.001657, -0.016657, -0.029157, -0.036657, -0.041657, -0.039157
#*# 	  0.013343, -0.004157, -0.011657, -0.011657, -0.011657, -0.009157
#*# 	  0.018343, 0.010843, 0.010843, 0.010843, 0.010843, 0.013343
#*# 	  0.018343, 0.003343, 0.000843, 0.000843, -0.001657, 0.005843
#*# 	  0.010843, -0.001657, -0.006657, -0.006657, -0.006657, -0.001657
#*# 	  0.000843, -0.019157, -0.024157, -0.031657, -0.029157, -0.024157
#*# 	  -0.036657, -0.054157, -0.059157, -0.059157, -0.061657, -0.049157
#*# tension = 0.2
#*# min_x = 45.76
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 30.0
#*# x_count = 6
#*# max_y = 189.96
#*# mesh_x_pps = 2
#*# max_x = 164.21
