# 
# Klipper configuration file for Anycubic i3 MEGA S
#
# This config file contains settings of all printer pins (steppers, sensors) for Anycubic i3 mega S with TMC2208 Drivers with stock plug orientation 
# Klipper firmware should be compiled for the atmega2560
#
# Config file includes
#  - Original or 2208(2209) rotated by cable drivers
#  - Mesh bed leveling: BLtouch (3DTouch sensor from Triangelab)
#  - Manual meshed bed leveling (commented out)
#  - 'virtual_sdcard' for fast printing without gaps
#  - Beeper through M300 gcode
#  - Pause/Resume through M600 for filament change
#  - START_PRINT/END_PRINT macros should be start and end g-code in slicer
#  - Pressure Advance and Input Shaper configured
#
# 3DTouch code is commented out. Z limit switches are used to home Z axis.
#
# Video covering installation here: https://youtu.be/cAxEIdThDiQ
#
# The latest version of the config reference is also available online at:
# https://www.klipper3d.org/Config_Reference.html

[include steppers.cfg]
[include macros/macros.cfg]
[include temps.cfg]
[include klicky/klicky.cfg]
# [include acceleromiter.cfg]
[include KAMP_Settings.cfg]
[include expander.cfg]

[printer]
kinematics = cartesian
max_velocity = 400
max_accel = 4000   #4000
minimum_cruise_ratio = 0.5
# max_accel_to_decel = 3000  #1500
max_z_velocity = 35  #7
max_z_accel = 500  #190
square_corner_velocity = 5

[input_shaper]
shaper_freq_x = 59.2
shaper_type_x = mzv 
shaper_freq_y = 43.0
shaper_type_y = mzv

# enable moving before homing
## put in terminal:
## SET_KINEMATIC_POSITION X=100 Y=100 Z=100
## then move as usual
[force_move]
enable_force_move = False


[virtual_sdcard]
path = ~/gcode_files

[display_status]

# change filament
[pause_resume]

[firmware_retraction]
retract_length = 0.5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed = 40
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length = 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed = 40
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

# Orca options

# Enable object exclusion
[exclude_object]

[respond]

# Enable arcs support
[gcode_arcs]
resolution = 0.1

[mcu]
serial = /dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0



## [output_pin LEDlights]
## pin: rpi:gpio17
## value: 1
## shutdown_value: 1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# pid_kp = 69.749
#*# pid_ki = 1.431
#*# pid_kd = 850.062
#*# control = pid
#*#
#*# [input_shaper]
#*#
#*# [extruder]
#*# pid_kp = 24.218
#*# pid_ki = 2.182
#*# pid_kd = 67.204
#*# control = pid
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.224281, -0.234281, -0.214281
#*# 	-0.216781, -0.224281, -0.204281
#*# 	-0.191781, -0.206781, -0.196781
#*# tension = 0.2
#*# min_x = 94.1318
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 97.359
#*# x_count = 3
#*# max_y = 112.639
#*# mesh_x_pps = 2
#*# max_x = 115.8518
#*#
#*# [stepper_z]
#*# position_endstop = -0.003
#*#
#*# [probe]
#*# z_offset = 0.890
#*#
#*# [bed_mesh last]
#*# version = 1
#*# points =
#*# 	-0.224281, -0.234281, -0.214281
#*# 	-0.216781, -0.224281, -0.204281
#*# 	-0.191781, -0.206781, -0.196781
#*# tension = 0.2
#*# min_x = 94.1318
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 97.359
#*# x_count = 3
#*# max_y = 112.639
#*# mesh_x_pps = 2
#*# max_x = 115.8518
